<p>	
  <strong>First Name:</strong>
  <%= @user.fname %>
</p>

<p> 
  <strong>Last Name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone %>
</p>

<p>     
  <strong>Address:</strong>
  <%= @user.addr %>
</p>
