.container
  .col-md-3.profile-info
    = image_tag @image_path
    .profile-name= @user.name
    %div= @user.email
    %div= @user.bio
    = button_to 'Edit Profile', { action: 'edit', id: @user.id}, method: :get, class: 'btn btn-default edit-profile'
  .col-md-9
    .row
      Your Tournaments
    .row
      Tournaments You Have Played In
      .player-tournaments
        - @player_tournaments.each do |t|
          = t.title
    .row
      Tournaments You Have Sponsored
      .sponsor-tournaments
        - @sponsor_tournaments.each do |t|
          = t.title
    .row
      Tournaments You Are An Admin For
      .admin-tournaments
        - @admin_tournaments.each do |t|
          = t.title