<%= form_for @user,:html => {:multipart => true} do |f| %>

<p>
  <%= f.label :fname, t('users.form.first_name') %><br>
  <%= f.text_field :fname %>
</p>

<p>
  <%= f.label :lname, t('users.form.last_name') %><br>
  <%= f.text_field :lname %>
</p>

<p>
  <%= f.label :email, t('users.form.email') %><br>
  <%= f.text_field :email%>
</p>

<p>
  <%= f.label :phone, t('users.form.phone') %><br>
  <%= f.telephone_field :phone %>
</p>

<p>
  <%= f.label :addr, t('users.form.addr') %>
  <br>
  <%= f.text_area :addr %>
</p>

<p>
  <%= f.label :bio, t('users.form.bio') %>
  <br />
  <%= f.text_area :bio %>
</p>

 <p>
    <label>Upload Profile Picture </label>
    <%= f.file_field :user_image %>
  </p>

<p>
  <%= f.submit %>
</p>

<% end %>
