<div class="container">
  <div class="row">
    <h1>Users</h1>
    <%= link_to t('users.index.signup_btn'), new_user_path, {:class=>"btn btn-theme"} %>
    <table class="table table-bordered">
      <tr>
        <th><%= t('users.index.id') %></th>
        <th><%= t('users.index.first_name') %></th>
        <th><%= t('users.index.last_name') %></th>
        <th><%= t('users.index.email') %></th>
        <th colspan="6"><%= t('users.index.action') %></th>
      </tr>
     
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.fname %></td>
          <td><%= user.lname %></td>
          <td><%= user.email %></td>
          <td><%= link_to t('users.index.show'), user_path(user) %></td>
          <td><%= link_to t('users.index.edit'), edit_user_path(user) %></td>
          <td><%= link_to t('users.index.destroy'), user_path(user),
                  method: :delete,
                  data: { confirm: t('users.index.confirm') } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


