.container
  .col-md-3.profile-info
    -#= image_tag @image_path
    =image_tag @user.user_image_url.to_s, height: '200', width: '200'
    .profile-name= @user.name
    %div= @user.email
    %div= @user.bio
    - if current_user.id == @user.id
      = button_to t('users.show.edit_profile'), { action: 'edit', id: @user.id}, method: :get, class: 'btn btn-default edit-profile'
    - else
      = button_to ('Email this user'), { action: 'edit', id: @user.id}, method: :get, class: 'btn btn-default edit-profile' 
      
  .col-md-9
    .row
      %h3 
        = t('users.show.your_tournaments')
    .row
      %h4 Tournaments You Have Played In
      .player-tournaments.col-md-12
        - if @player_tournaments.empty?
          = t('users.show.sorry_no_tournaments')
        .col-md-12
          - @player_tournaments.each do |t|
            .row.tournament-element
              = render partial: 'tournament_element', locals: {tournament: t }
    .row
      %h4 Tournaments You Have Sponsored
      .sponsor-tournaments.col-md-12
        - if @sponsor_tournaments.empty?
          = t('users.show.sorry_not_sponsor')
        .col-md-12
          - @sponsor_tournaments.each do |t|
            .row.tournament-element
              = render partial: 'tournament_element', locals: {tournament: t }
    .row
      %h4 Tournaments You Are An Admin For
      .admin-tournaments.col-md-12
        - if @sponsor_tournaments.empty?
          = t('users.show.sorry_not_admin')
        .col-md-12
          - @admin_tournaments.each do |t|
            .row.tournament-element
              = render partial: 'tournament_element', locals: {tournament: t }