<div class="container">
  <div class="row">
    <h1>Edit Tournament</h1>
    <%= form_for(@tournament) do |f| %>
      <h6></h6>
      <%= f.text_field :title %>
      <h6><%= t('tournaments.edit.name') %></h6>
      <%= f.check_box :is_private %>
      <h6><%= t('tournaments.edit.desc') %></h6>
      <%= f.text_area :description %>
      <h6><%= t('tournaments.edit.format') %></h6>
      <%= f.text_field :golf_format %>
      <h6><%= t('tournaments.edit.schedule') %></h6>
      <%= f.text_area :schedule %>
      <h6><%= t('tournaments.edit.features') %></h6>
      <%= f.text_area :features %>
      <h6><%= t('tournaments.edit.email') %></h6>
      <%= f.text_field :email %>
      <h6><%= t('tournaments.edit.phone') %></h6>
      <%= f.text_field :phone %>

      <br/>
      <h6><%= t('tournaments.edit.ticket_options') %></h6>
      <table id="tickets_table" class="table borderless">
        <thead>
          <tr>
            <th class="col-xs-3"><%= t('tournaments.edit.ticket_type') %></th>
            <th class="col-xs-3"><%= t('tournaments.edit.ticket_price') %></th>
            <th class="col-xs-3"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for ticket in @ticket_options %>
          <tr>
            <input type="hidden" name="ticket_options[id][]" value="<%= ticket.id %>"/>
            <td><input type="text" name="ticket_options[ttype][]" value="<%= ticket.ttype %>"></td>
            <td><input type="number" step="any" name="ticket_options[price][]" value="<%= ticket.price %>"></td>
            <td></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>
          <% end %>
          <tr id="new_ticket_row_template" style="display:none">
            <td><input type="text" name="ticket_options[ttype][]" disabled></td>
            <td><input type="number" step="any" name="ticket_options[price][]" disabled></td>
            <td></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>        
        </tbody>
        <tfoot>
          <tr>
            <td></td><td></td><td></td>
            <td><b><a style="cursor:pointer" onclick="addRow($('#new_ticket_row_template'), $('#tickets_table tbody'))">Add</a></b></td>
          </tr>
        </tfoot>
      </table>

      <h6><%= t('sponsor_options') %></h6>
      <table id="sponsor_options_table" class="table borderless">
        <thead>
          <tr>
            <th class="col-xs-3"><%= t('tournaments.edit.sponsor_type') %></th>
            <th class="col-xs-3"><%= t('tournaments.edit.sponsor_price') %></th>
            <th class="col-xs-3"></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for sponsor in @sponsor_options %>
          <tr>
            <input type="hidden" name="sponsor_options[id][]" value="<%= sponsor.id %>"/>
            <td><input type="text" name="sponsor_options[ttype][]" value="<%= sponsor.ttype %>"></td>
            <td><input type="number" step="any" name="sponsor_options[price][]" value="<%= sponsor.price %>"></td>
            <td></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>
          <% end %>
          <tr id="new_sponsor_option_row_template" style="display:none">
            <td><input type="text" name="sponsor_options[ttype][]" disabled></td>
            <td><input type="number" step="any" name="sponsor_options[price][]" disabled></td>
            <td></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>        
        </tbody>
        <tfoot>
          <tr>
            <td></td><td></td><td></td>
            <td><b><a style="cursor:pointer" onclick="addRow($('#new_sponsor_option_row_template'), $('#sponsor_options_table tbody'))">Add</a></b></td>
          </tr>
        </tfoot>
      </table>

      <h6>Registered Sponsors</h6>
      <table id="sponsors_table" class="table borderless">
        <thead>
          <tr>
            <th class="col-xs-3"><%= t('tournaments.edit.name') %></th>
            <th class="col-xs-3"><%= t('tournaments.edit.sponsor_type') %></th>
            <th class="col-xs-3"><%= t('tournaments.edit.sponsor_website_link') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for sponsor in @reg_sponsors %>
          <tr>
            <input type="hidden" name="reg_sponsors[id][]" value="<%= sponsor.id %>"/>
            <td><input type="text" name="reg_sponsors[name][]" value="<%= sponsor.name %>"></td>
            <td><input type="text" name="reg_sponsors[ttype][]" value="<%= sponsor.ttype %>"></td>
            <td><input type="text" name="reg_sponsors[website][]" value="<%= sponsor.website %>"></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>
          <% end %>
          <tr id="new_sponsor_row_template" style="display:none">
            <td><input type="text" name="reg_sponsors[name][]" disabled></td>
            <td><input type="text" name="reg_sponsors[ttype][]" disabled></td>
            <td><input type="text" name="reg_sponsors[website][]" disabled></td>
            <td><a style="cursor:pointer" onclick="removeRow(this)"><%= t('tournaments.edit.remove') %></a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td><td></td><td></td>
            <td><b><a style="cursor:pointer" onclick="addRow($('#new_sponsor_row_template'), $('#sponsors_table tbody'))">Add</a></b></td>
          </tr>
        </tfoot>
      </table>
      <input type='submit'/>
    <% end %>
	<%= link_to 'Back', tournaments_path %>
  </div>
</div>

<script type="text/javascript">
function removeRow(item) {
  $(item).parents('tr').remove();
}

function addRow(templateRow, tableBody) {
  var row = templateRow.clone();
  $(":input", row).attr("disabled", false);
  row.removeAttr('id');
  tableBody.append(row);
  row.show();
}
</script>