<div id="portfoliowrap">
    <div class="container">
      <div class="row">
        <h1>Tournaments</h1>
        <h3>Find the perfect tournament with our immense list!</h3>
      </div>
      <div class="row">
        <%= link_to 'Create Tournament', new_tournament_path, {:class=>"btn btn-theme"} %>
      </div> 
    </div>
</div><!-- /headerwrap -->

<div class="container">
  <div class="row">
    <table id="tournamentsall" class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Start Date</th>
          <th>Until</th>
          <th>Description</th>
          <th colspan="6"></th>
        </tr>
      </thead>
      <tbody>
        <% @tournaments.each do |tournament| %>
          <tr>
            <td><%= link_to tournament.title, tournament_path(tournament) %></td>
            <td><%= tournament.location %></td>
            <td><%= tournament.start_datetime.strftime('%v') %></td>
            <td><%= tournament.end_datetime.strftime('%v') %></td>
            <td><%= tournament.description %></td>
             <!-- <td><%= link_to 'Visit Page', tournament_path(tournament), {:class=>"btn btn-theme"} %></td>
           
            <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
            <td><%= link_to 'Destroy', tournament_path(tournament),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td> 
            -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
