<h2> Sponsor Registration for <%= @tournament.title%> </h2>

<%= form_for @sponsor do |f| %>
 
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :title, placeholder: "#{@user.fname} #{@user.lname}",:readonly => true %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>