<div class="container">
	<div class = "row">
		<h1>Contact us</h1>
		<h2>Ask us anything that you don't understand!</h2>
	</div>		

	<div class = "row">
		<div class = "col-md-6">
        <%= form_tag do %>
          <%= text_field_tag(:user,nil, placeholder: 'Your Name', class: 'form-control') %> <br><br>
          <%= email_field(:user, :address, placeholder: 'Your Email', class: 'form-control') %><br><br>
          <%= text_area_tag(:message, nil,placeholder: 'Your Message', size: "24x6", class: 'form-control') %><br>
          <%= submit_tag("Submit!", class: 'form-control') %>
        <% end %>
        </div>
    </div>
</div>