<div id="headerwrap">
    <div class="container">
      <h1>Golfly</h1>
      <h3>The easy way to host golf tournaments.</h3>
      <%= link_to 'Create Tournament', new_tournament_path, {:class=>"btn btn-success"} %>
      <%= link_to 'Tournament Listings', tournaments_path, {:class=>"btn btn-primary"} %>
    </div>
</div><!-- /headerwrap -->

<div class="container">
  <div class="row">
    <h2>Featured Tournaments</h2><br>
      <div class="col-md-4" id="featured-tournaments">
        <%= image_tag("browser.png", size: "200x200", class: "img-rounded")%>
        <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
        <h3>For tournament organizers</h3>
        <p> You can create your own tournament page and manage your tournament!</p>
      </div>
      <div class="col-md-4" id="featured-tournaments">
        <%= image_tag("golf.png", size: "200x200", class: "img-rounded")%>
       <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
        <h3>For golfers</h3>
        <p> You can browse tournaments, sign up and pay for tournaments!</p>
      </div>
      <div class="col-md-4" id="featured-tournaments">
        <%= image_tag("money-bag.png", size: "200x200", class: "img-rounded")%>
       <!-- <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
        <h3>For sponsors</h3>
        <p> You can sponsor and suppport your favourite tournaments!</p>
      </div>
  </div>
</div>

