<div class="container">
	<div class="row">

	<h1> Sponsorship Registration </h1>
	<h2> Tournament: <%= @tournament.title %></h2>
	<br><hr>

	<% if @sponsor_options.present? %>
		<h3> Sponsor Details</h3>
		<h4> If information is incorrect, please edit your profile</h4>
		<%= form_tag(tournament_sponsor_checkout_path, method: 'GET') do %>
			<p>
				<%= label_tag(:name, "Name") %><br>
			   	<%= text_field_tag(:user, "#{@user.fname} #{@user.lname}", disabled: true,class: 'form-control') %>
		   	</p>
		   	<p>
				<%= label_tag(:name, "Email") %><br>
			   	<%= text_field_tag(:user, "#{@user.email}", disabled: true,class: 'form-control') %>
		   	</p>
		   	<p>
				<%= label_tag(:name, "Phone") %><br>
			   	<%= text_field_tag(:user, "#{@user.phone}", disabled: true,class: 'form-control') %>
		   	</p>
		   	<p>
				<%= label_tag(:name, "Address") %><br>
			   	<%= text_field_tag(:user, "#{@user.addr}", disabled: true,class: 'form-control') %>
		   	</p>
		   	<h3> Sponsor Options</h3>
			<table class="table">
				<th>
			   		<%= label_tag("Type of Sponsor") %>
			   	</th>
			   	<th>
			   		<%= label_tag("Price") %>
			   	</th>
			   	<% @sponsor_options.each do |i| %>
			   		<tr>
			   			<td><%="#{i.ttype}"%></td>
			   			<td><%="#{i.price}"%></td>  
			   		</tr>
				<%end%>
			</table>
		   	<p>
			   	<%= label_tag(:sponsor_option_id, "Select type of Sponsorship") %><br>
			   	<%= select_tag(:sponsor_option_id, options_from_collection_for_select(@sponsor_options, 'id', 'ttype')) %>
		   	</p>

		   	<p><%= submit_tag 'Continue with Checkout', class: 'btn btn-large btn-primary' %></p>
		 <% end %>
	<% else flash[:notice] = "There are no sponsorship options, please contact tournament organizer"%>
		<div align = "center">
		<%= image_tag("error-icon.png") %>
		</div>
	</div>
	<% end %>
</div>