<div class = "container">
    <div class="jumbotron">
      <div class = "col-xs-4">
        <%= image_tag("golf1.png", size: "200x200", class: "img-rounded", align: "center")%>
      </div>
      <div class = "col-xs-8">
        <h1><%= @tournament.title%></h1>
        <p><%= @tournament.description%></p>
      </div>
      <div class = "container jumbotron">
        <div class = "col-xs-4">
            <p><strong>Place:</strong> <%= @tournament.location%></p>
        </div>
        <div class = "col-xs-4">
            <p><strong>Time:</strong> <%= @tournament.start %></p>
        </div>
        <div class = "col-xs-4">
            <p><strong>Price:</strong> $xx.xx</p>
        </div>
        <div class = "col-xs-4">
            <p><strong>Contact:</strong> heindrikbernabe@group6.com</p>
        </div>

        <!-- print error in joining the tournament -->
        <% if @user_team %>
          <% if @user_team.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user_team.errors.count, "error") %> prohibited this article from being saved:</h2>
              <ul>
              <% @user_team.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% elsif @user_player.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user_player.errors.count, "error") %> prohibited this article from being saved:</h2>
              <ul>
              <% @user_player.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>

        <div class = "row">
          <%= link_to 'Join', join_tournament_path, {
            :method=>"POST", 
            :class=>"btn btn-primary btn-lg"} %>
          <%= link_to 'Sponsor', "#", {:class=>"btn btn-primary btn-lg"} %>
        </div>
      </div>
    </div>
</div>

<div class ="container">
  <h1>Available Spots:</h1>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @available_spot %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @available_spot %>%;">
    <!-- <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> -->
      <%= @available_spot %>% remaining
    </div>
  </div>

  <div class="row">
    <hr>
    <h2>Participant List</h2>
    <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Joined</th>
        <th>Team</th>
      </tr>
      <% @users.each do |tournament| %>
        <tr>
          <td><%= tournament.fname %></td>
          <td><%= tournament.lname %></td>
          <td> no data yet</td>
          <td> no data yet</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


