<%= form_for @contact_player, url: user_contact_players_path do |f| %>
  <fieldset>
    <p>sending email to <%= @user.name%></p>
    <p>sending email from  <%= @current_user.name%></p>    
    <div class="field">
      <%= f.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= f.submit "Send" %>
    </div>
  </fieldset>
<% end %>