<!DOCTYPE html>
<html>
  <head>
    <title>Golfly</title>
  
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/message' %>
    <%= render '/layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>


    <!--
    Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
    <script src="assets/javascripts/retina-1.1.0.js"></script>-->
  </body>


  <footer>
    <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        </div>
        <div class="col-lg-4">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="https://www.facebook.com/TheGolflyTournament"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/TheGolfly"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/TheGolfly/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/TheGolfly"><i class="fa fa-linkedin"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="tos.html">Terms of Service</a>
            <br>
            <a href="privacy.html">Privacy Policy</a>
          </p>
        </div>
      
      </div><!--/row -->
    </div><!--/container -->
   </div><!--/footerwrap -->
  </footer>
</html>
